<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <servlet-name>WebRarReader</servlet-name>
    <servlet-class>myservlet.WebRarReader</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectUnrarFile</servlet-name>
    <servlet-class>myservlet.SelectUnrarFile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WebZipReader</servlet-name>
    <servlet-class>myservlet.WebZipReader</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Select</servlet-name>
    <servlet-class>myservlet.Select</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>URLZipReader</servlet-name>
    <servlet-class>myservlet.URLZipReader</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>URLSelect</servlet-name>
    <servlet-class>myservlet.URLSelect</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>URLRarReader</servlet-name>
    <servlet-class>myservlet.URLRarReader</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>URLRarSelect</servlet-name>
    <servlet-class>myservlet.URLRarSelect</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>WebRarReader</servlet-name>
    <url-pattern>/WebRarReader</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectUnrarFile</servlet-name>
    <url-pattern>/SelectUnrarFile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WebZipReader</servlet-name>
    <url-pattern>/WebZipReader</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Select</servlet-name>
    <url-pattern>/Select</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>URLZipReader</servlet-name>
    <url-pattern>/URLZipReader</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>URLSelect</servlet-name>
    <url-pattern>/URLSelect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>URLRarReader</servlet-name>
    <url-pattern>/URLRarReader</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>URLRarSelect</servlet-name>
    <url-pattern>/URLRarSelect</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>